  .calc-button {
    display: inline-flex;
    width: 25%;
    height: 100%;
    margin: 0;
  }
  
  .calc-button button {
    background-color: #e0e0e0;
    font-size: 1.5rem;
    margin: 5px 2.5px 2.5px 5px;
    flex: 1 0 auto;
    border-radius: 8px;
  }

  .highlighted-button button{
    background-color: #D0E6F4;
    font-size: 1.5rem;
    margin: 5px 2.5px 2.5px 5px;
    flex: 1 0 auto;
    border-radius: 8px;
  }
 