
   
.calc-button {
    display: inline-flex;
    width: 25%;
    height: 100%;
    flex: 1 0 auto;
    border-radius: 50px;
    margin: 0;
  }
  
  .calc-button.wide {
    width: 50%;
  }
  .calc-button.tall {
    height: 200%;
  }
  
  .calc-button button {
    background-color: #e0e0e0;
    font-size: 1.5rem;
    margin: 5px 2.5px 2.5px 5px;
    flex: 1 0 auto;
    padding: 0;
    border-radius: 8px;
  }
  
 